@page "/"

<PageTitle>Home</PageTitle>

<div class="container text-center mt-5">
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body">
            <h1 class="display-4 text-primary">¡Bienvenidos!</h1>
            <p class="lead mt-3">
                Nos alegra tenerte aquí. Esta plataforma ha sido diseñada para facilitar la gestión de técnicos con eficiencia y simplicidad.
            </p>
            <p>
                Explora las opciones disponibles y disfruta de una experiencia  amigable.
            </p>
            <hr />
            <p class="text-muted fst-italic">
                "La tecnología no solo resuelve problemas, también crea oportunidades."
            </p>
        </div>
    </div>
</div>