@page "/Tecnico/Agregar"

@inject TecnicoService tecnicoService
@rendermode InteractiveServer

<PageTitle>Agregar técnico</PageTitle>

<EditForm Model="Tecnico" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    @* Mensajes de confirmación o error *@
    <label style="font-size:18px; color:red;" hidden="@string.IsNullOrEmpty(ErrorGuardar)">
        @ErrorGuardar
    </label>
    <label style="font-size:18px; color:green;" hidden="@string.IsNullOrEmpty(GuardarExito)">
        @GuardarExito
    </label>

    <div class="container card shadow-lg">
        <div class="bg-primary text-white text-center p-3 rounded-top">
            <h5 class="mb-0">Registro de Técnicos</h5>
        </div>

        <div class="card-body">
            <div class="mb-3">
                <label class="form-label"><strong>TecnicoId</strong></label>
                <InputNumber class="form-control" @bind-Value="Tecnico.TecnicoId" readonly />
            </div>

            <div class="mb-3">
                <label class="form-label"><strong>Nombre</strong></label>
                <InputText class="form-control" @bind-Value="Tecnico.NombreTecnico" />
                <ValidationMessage For="() => Tecnico.NombreTecnico" />
            </div>

            <div class="mb-3">
                <label class="form-label"><strong>Sueldo</strong></label>
                <InputNumber class="form-control" @bind-Value="Tecnico.SueldoHora" />
                <ValidationMessage For="() => Tecnico.SueldoHora" />
            </div>
        </div>

        <div class="card-footer text-center mt-2">
            <a href="/Tecnico/Index" class="btn btn-outline-primary">
                <span class="bi bi-arrow-left"></span> Volver
            </a>

            <button type="submit" class="btn btn-outline-success bi bi-floppy" title="Guardar">
                Guardar
            </button>

            <button type="submit" class="btn btn-outline-secondary bi bi-arrow-clockwise" @onclick="Nuevo" title="Nuevo">
                Nuevo
            </button>
        </div>
    </div>
</EditForm>

@code {
    private Tecnicos Tecnico { get; set; } = new Tecnicos();
    private string GuardarExito { get; set; } = string.Empty;
    private string ErrorGuardar { get; set; } = string.Empty;

    public void Nuevo()
    {
        this.Tecnico = new Tecnicos();
    }

    private async Task<bool> Validar()
    {
        ErrorGuardar = string.Empty;

        if (await tecnicoService.ExisteNombre(Tecnico.NombreTecnico))
        {
            return false;
        }

        return true;
    }

    public async Task Guardar()
    {
        ErrorGuardar = string.Empty;
        GuardarExito = string.Empty;

        if (!await Validar())
        {
            ErrorGuardar = "Ya existe un técnico con ese nombre.";
            return;
        }

        var guardo = await tecnicoService.Guardar(this.Tecnico);

        if (guardo != null)
        {
            GuardarExito = "Técnico guardado correctamente";
            Nuevo();
        }
        else
        {
            ErrorGuardar = "Error al guardar el técnico";
        }
    }
}