<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RegistroDeTecnicos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill fs-5" aria-hidden="true"></i>
                <span class="nav-text-adjusted">Home</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/Tecnico/index">
                <i class="bi bi-person-gear fs-5" aria-hidden="true"></i>
                <span class="nav-text-adjusted">Registro de técnicos</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/Clientes/Index">
                <i class="bi bi-people-fill fs-5" aria-hidden="true"></i>
                <span class="nav-text-adjusted">Registro de clientes</span>
            </NavLink>
        </div>

      

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/Tickets/Index">
                <i class="bi bi-person-lines-fill fs-5" aria-hidden="true"></i>
                <span class="nav-text-adjusted">Tickets</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/Sistema/Index">
                <i class="bi bi-tv fs-5" aria-hidden="true"></i>
                <span class="nav-text-adjusted">Sistemas</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/Ventas/Index">
                <i class="bi bi-cart-check fs-5" aria-hidden="true"></i>
                <span class="nav-text-adjusted">Ventas</span>
            </NavLink>
        </div>

      

    </nav>
</div>

<style>
    .nav-text-adjusted {
        position: relative;
        top: 15px;
    }
</style>

